<div class="card card-promo01">
  <header>
    <div class="header-fade"></div>
    <%= image_tag 'promo01a-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <%= image_tag 'promo01a-logo.png', class: 'img-responsive' %>
    <h1>Title</h1>
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
    <%= partial 'partials/list-sharing' %>
    <p>
      <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
      <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
    </p>
  </article>
</div>
