<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-b-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <h1>The Super bowl of preaching</h1>
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
    <p><%= link_to 'Learn More', '#', class: 'btn btn-primary' %> <%= link_to 'Contact Us', '#', class: 'btn btn-primary' %></p>
  </article>
</div>
