<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>Today's Set List</h1>
    </div>
    <%= imgix_tag '_card-templates/list-b-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'Be Thou My Vision', '#', target:'_blank' %></h2>
        <p>Listen via Soundcloud</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'O Worship', '#', target:'_blank' %></h2>
        <p>Listen via Soundcloud</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'No Longer a Slave', '#', target:'_blank' %></h2>
        <p>Listen via Soundcloud</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'Down in the Valley', '#', target:'_blank' %></h2>
        <p>Listen via Soundcloud</p>
      </div>
    </div>
  </article>
</div>
