<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>Going Deeper</h1>
    </div>
    <%= imgix_tag '_card-templates/list-a-bg.jpg', class: 'img-responsive' %>

  </header>
  <article>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= imgix_tag '_card-templates/list-a-img1c.jpg?w=90&fit=clip', width: 90, height: 138, class: 'media-object' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'The Forgiveness Project: The Startling Discovery of How to Overcome Cancer, Find Health, and Achieve Peace', '#' %></h2>
        <p><%= lorem.paragraph %>...</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= imgix_tag '_card-templates/list-a-img2.jpg?w=90&fit=clip', width: 90, height: 138, class: 'media-object' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'The Return of the Prodigal Son: A Story of Homecoming', '#' %></h2>
        <p><%= lorem.paragraph %>...</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= imgix_tag '_card-templates/list-a-img3.jpg?w=90&fit=clip', width: 90, height: 100, class: 'media-object' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'Forgiveness: Letting go of grudges and bitterness', '#' %></h2>
        <p><%= lorem.paragraph %>...</p>
      </div>
    </div>
  </article>
</div>
