---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <p class="card-type">Scripture (Long)</p>
    <%= partial 'partials/card-scripture-b' %>

    <p class="card-type">Scripture (Short)</p>
    <%= partial 'partials/card-scripture-a' %>

    <p class="card-type">List C</p>
    <%= partial 'partials/card-list-c' %>

    <p class="card-type">List B</p>
    <%= partial 'partials/card-list-b' %>

    <p class="card-type">List A</p>
    <%= partial 'partials/card-list-a' %>

    <p class="card-type">Comment B</p>
    <%= partial 'partials/card-comment-b' %>

    <p class="card-type">Comment A</p>
    <%= partial 'partials/card-comment-a' %>

    <p class="card-type">Series Video</p>
    <%= partial 'partials/card-series-video-a' %>

    <p class="card-type">Banner B</p>
    <%= partial 'partials/card-banner-b' %>

    <p class="card-type">Banner A</p>
    <%= partial 'partials/card-banner-a' %>

    <p class="card-type">Promo C</p>
    <%= partial 'partials/card-promo-c' %>

    <p class="card-type">Promo B</p>
    <%= partial 'partials/card-promo-b' %>

    <p class="card-type">Promo A</p>
    <%= partial 'partials/card-promo-a' %>
  </div>
</main>
