---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <%= partial 'partials/card-comment-b' %>
    <%= partial 'partials/card-comment-a' %>
    <%= partial 'partials/card-series-video-a' %>
    <%= partial 'partials/card-banner-b' %>
    <%= partial 'partials/card-banner-a' %>
    <%= partial 'partials/card-promo-c' %>
    <%= partial 'partials/card-promo-b' %>
    <%= partial 'partials/card-promo-a' %>
  </div>
</main>
