---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <%= partial 'partials/card-promo-ss-intro' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-banner-text-us' %>
    <%= partial 'partials/card-banner-prayer-fasting' %>
    <%= partial 'partials/card-banner-anywhere-host' %>
    <%= partial 'partials/card-banner-kids-club' %>
    <%= partial 'partials/card-banner-anywhere-facebook' %>
    <%= partial 'partials/card-banner-anywhere-welcome' %>
    <%= partial 'partials/card-list-worship' %>
    <%= partial 'partials/card-scripture-2eph-4-5' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-banner-anywhere-host' %>
    <%= partial 'partials/card-banner-anywhere-facebook' %>
    <%= partial 'partials/card-banner-text-us' %>
    <%= partial 'partials/card-banner-giving' %>
    <%= partial 'partials/card-promo-nicaragua' %>
    <%= partial 'partials/card-promo-compassion-experience' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-promo-groups' %>
    <%= partial 'partials/card-promo-go-india' %>
    <%= partial 'partials/card-comment-gerred' %>
    <%= partial 'partials/card-promo-go-nicaragua' %>
    <%= partial 'partials/card-comment-sono' %>
    <%= partial 'partials/card-promo-go-south-africa' %>
    <%= partial 'partials/card-promo-im-in' %>
    <%= partial 'partials/card-banner-prayer-request' %>
    <%= partial 'partials/card-banner-survey' %>
    <%= partial 'partials/card-comment-blank' %>
    <%= partial 'partials/card-comment-blank' %>
    <%= partial 'partials/card-scripture-10heb-24-25' %>
    <%= partial 'partials/card-comment-smeeta' %>
    <%= partial 'partials/card-comment-dr-mathole' %>   
    <%= partial 'partials/card-scripture-10mark-28-30' %>

  </div>
</main>
