---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <%= partial 'partials/card-promo-ss-intro' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-banner-text-us' %>
    <%= partial 'partials/card-banner-prayer-fasting' %>
    <%= partial 'partials/card-banner-anywhere-host' %>
    <%= partial 'partials/card-banner-kids-club' %>
    <%= partial 'partials/card-banner-anywhere-facebook' %>
    <%= partial 'partials/card-banner-anywhere-welcome' %>
    <%= partial 'partials/card-list-worship' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-banner-anywhere-host' %>
    <%= partial 'partials/card-banner-anywhere-facebook' %>
    <%= partial 'partials/card-banner-text-us' %>
    <%= partial 'partials/card-banner-giving' %>
    <p class="card-fpo">Nicaragua</p>
    <p class="card-fpo">Compassion</p>
    <%= partial 'partials/card-promo-together' %>
    <p class="card-fpo">Groups</p>
    <%= partial 'partials/card-promo-go-india' %>
    <%= partial 'partials/card-promo-go-nicaragua' %>
    <%= partial 'partials/card-promo-go-south-africa' %>
    <p class="card-fpo">I'm in</p>
    <%= partial 'partials/card-banner-prayer-request' %>
    <%= partial 'partials/card-banner-survey' %>
  </div>
</div>
</main>
