---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <%= partial 'partials/card-promo-ss-intro' %>
    <%= partial 'partials/card-banner-kids-club' %>
    <%= partial 'partials/card-banner-thanksgiving' %>
    <%= partial 'partials/card-promo-awaited' %>
    <%= partial 'partials/card-banner-anywhere-welcome' %>
    <%= partial 'partials/card-list-worship-be-strong' %>
    <%= partial 'partials/card-list-worship-lord-of-all' %>
    <%= partial 'partials/card-list-worship-break-every-chain' %>
    <%= partial 'partials/card-banner-anywhere-gather' %>
    <%= partial 'partials/card-promo-awaited-2' %>
    <%= partial 'partials/card-promo-groups-general-2' %>
    <%= partial 'partials/card-promo-baptism' %>
    <%= partial 'partials/card-banner-communion-1' %>
    <%= partial 'partials/card-banner-giving' %>
    <%= partial 'partials/card-scripture-lk-2:14' %>
    <%= partial 'partials/card-banner-silence' %>
    <%= partial 'partials/card-comment-finding-peace-shalom-1' %>
    <%= partial 'partials/card-comment-finding-peace-shalom-2' %>
    <%= partial 'partials/card-scripture-jb-25:2' %>
    <%= partial 'partials/card-comment-finding-peace-purpose' %>
    <%= partial 'partials/card-scripture-mt-2:3' %>
    <%= partial 'partials/card-scripture-mt-2:16' %>
    <%= partial 'partials/card-comment-finding-peace-conflict' %>
    <%= partial 'partials/card-scripture-isa-54:10' %>
    <%= partial 'partials/card-scripture-eph-2:13-14' %>
    <%= partial 'partials/card-comment-finding-peace-covenant' %>
    <%= partial 'partials/card-scripture-lk-1:53-55' %>
    <%= partial 'partials/card-scripture-lk-2:14' %>
    <%= partial 'partials/card-comment-finding-peace-practicing' %>
    <%= partial 'partials/card-banner-communion-2' %>
    <%= partial 'partials/card-list-finding-peace-deeper' %>
    <%= partial 'partials/card-banner-anywhere-gather' %>
    <%= partial 'partials/card-promo-groups-general' %>
    <%= partial 'partials/card-promo-baptism' %>
    <%= partial 'partials/card-banner-download-break-every-chain' %>
  </div>
</main>
