---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <%= partial 'partials/card-banner-survey' %>
    <%= partial 'partials/card-banner-prayer-request' %>
    <%= partial 'partials/card-scripture-gen-1:22_28' %>
    <%= partial 'partials/card-scripture-gen-1:26-27' %>
    <%= partial 'partials/card-scripture-gen-1:11' %>
    <%= partial 'partials/card-scripture-1cor-13:1-7' %>
    <%= partial 'partials/card-comment-spark-technology' %>
    <%= partial 'partials/card-scripture-gen-1:28' %>
    <%= partial 'partials/card-comment-spark-mingo' %>
    <%= partial 'partials/card-banner-giving' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-promo-gonola' %>
    <%= partial 'partials/card-scripture-jas-1:5' %>
    <%= partial 'partials/card-scripture-prov-18:2' %>
    <%= partial 'partials/card-scripture-prov-10:19' %>
    <%= partial 'partials/card-list-alone-together' %>
    <%= partial 'partials/card-comment-spark-schigel' %>
    <%= partial 'partials/card-list-worship' %>
    <%= partial 'partials/card-banner-anywhere-welcome' %>
    <%= partial 'partials/card-list-coldplay' %>
    <%= partial 'partials/card-banner-anywhere-facebook' %>
    <%= partial 'partials/card-banner-kids-club' %>
    <%= partial 'partials/card-banner-anywhere-host' %>
    <%= partial 'partials/card-banner-text-us' %>
    <%= partial 'partials/card-promo-spark' %>
    <%= partial 'partials/card-promo-ss-intro' %>
  </div>
</div>
</main>
