---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <%= partial 'partials/card-promo-ss-intro' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-banner-text-us' %>
    <%= partial 'partials/card-banner-anywhere-host' %>
    <%= partial 'partials/card-banner-kids-club' %>
    <%= partial 'partials/card-banner-anywhere-facebook' %>
    <%= partial 'partials/card-banner-anywhere-welcome' %>
    <%= partial 'partials/card-list-worship' %>
    <%= partial 'partials/card-promo-business-of-success' %>
    <%= partial 'partials/card-promo-unpolished-volunteer' %>
    <%= partial 'partials/card-promo-go' %>
    <%= partial 'partials/card-promo-groups' %>
    <%= partial 'partials/card-banner-giving' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-promo-uptown-open' %>
    <%= partial 'partials/card-promo-together-message-intro' %>
    <%= partial 'partials/card-scripture-mt-11:19' %>
    <%= partial 'partials/card-scripture-mt-26:49-50' %>
    <%= partial 'partials/card-scripture-lk-16:9' %>
    <%= partial 'partials/card-scripture-jn-15:13-16' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-comment-together-olympics' %>
    <%= partial 'partials/card-comment-together-deresiewicz' %>
    <%= partial 'partials/card-comment-together-murphy' %>
    <%= partial 'partials/card-list-wolf-pack' %>
    <%= partial 'partials/card-comment-together-turkle1' %>
    <%= partial 'partials/card-comment-together-turkle2' %>
    <%= partial 'partials/card-promo-man-camp' %>
    <%= partial 'partials/card-promo-together' %>
    <%= partial 'partials/card-banner-prayer-request' %>
    <%= partial 'partials/card-banner-survey' %>
  </div>
</main>
